body {
  font-family: "Open Sans", sans-serif;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1 {
  font-size: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

#comppart {
  padding-top: 10px;
  padding-bottom: 10px;
}

table.comptable {
  table-layout: fixed;
  display: table;
  width: 100%;
}

table.comptable thead{
  float: left;
  overflow: auto;
}

table.comptable tbody {
  float: left;
  width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 500px;
}

#first {
  width: 80px;
}

.note {
  width: 1%;
}

#balance {
  color: black;
}

#title {
  width: 100%;
  text-align: center;
  padding: 5%;
}