body {
  font-family: "Open Sans", sans-serif;
}

input {
  width: 75%;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1 {
  font-size: 25px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}


/**
 * Header
 */

#title {
  display: inline;
  position: relative;
  float: left;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}

#title h1 {
    margin: 0;
}

#title-eth {
    float: right;
}

#title-eth p {
    margin: 0;
}


/**
 * Creator UI
 */

#comppart {
  padding-top: 10px;
  padding-bottom: 10px;
}

table.comptable {
  table-layout: fixed;
  display: table;
  width: 100%;
}

table.comptable thead{
  float: left;
  overflow: auto;
}

table.comptable tbody {
  float: left;
  width: 100%;
}

#first {
  font-size: 14px;
  width: 5%;
}

.note {
  width: 0.9%;
}

#token {
  position: relative;
  bottom: 5px;
  float: right;
}

#rebuild {
  position: relative;
  float: right;
  top: 5px;
}

#tempo {
  width: 50px;
}

.tempo {
  display: inline;
}

#play {
  display: inline;
  margin-top: 10px;
}

#stop {
  display: inline;
}

#console {
  display: inline-flex;
}

#p {
  margin-bottom: 5%;
}

.console-divider {
    float: left;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.console-divider h4 {
    margin: 0;
}


#purchase {
  display: block;
}

.place {
  width: 50px;
}
